<div class="container">
  <div class="text-center mt-5">
    <p class="text-purple fs-3 pt-3 pb-2">アカウント編集</p>
  </div>

  <div class="row justify-content-center">
    <div class="col-10 col-md-6">
      <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
      <%= render "shared/validation_error", instance: @user %>

      <div class="mb-4">
        <%= f.label :username, "ユーザーネーム", class: "text-secondary fw-bold mb-2" %>
        <span class="p_required">必須</span>
        <%= f.text_field :username, class: "form-control shadow-sm py-md-3" %>
      </div>
      <div class="mb-4">
        <%= f.label :email, "メールアドレス", class: "text-secondary fw-bold mb-2" %>
        <span class="p_required">必須</span>
        <%= f.email_field :email, class: "form-control shadow-sm py-md-3" %>
      </div>
      <div class="mb-4">
        <%= f.label :current_password, "現在のパスワード", class: "text-secondary fw-bold mb-2" %>
        <span class="p_required">必須</span>
        <%= f.password_field :current_password, class: "form-control shadow-sm py-md-3" %>
      </div>
      <div class="mb-4">
        <%= f.label :password, "パスワード", class: "text-secondary fw-bold mb-2" %>
        <%= f.password_field :password, class: "form-control shadow-sm py-md-3" %>
      </div>
      <div class="mb-4">
        <%= f.label :password_confirmation, "パスワード確認", class: "text-secondary fw-bold mb-2" %>
        <%= f.password_field :password_confirmation, class: "form-control shadow-sm py-md-3" %>
      </div>
      <div class="text-center">
        <%= f.submit "編集", class: "btn btn-primary shadow-sm text-white fw-bold mt-4 px-5 py-3" %>
      </div>
      <% end %>
    </div>
  </div>
</div>