<header>
  <nav class="navbar navbar-expand-md sticky-top bg-white text-right shadow-sm">
  <div class="container display-flex">
    <div>
      <%= link_to root_path, data: { turbolinks: false } do %>
        <%= image_tag "logo.png" , class: "img-fluid" , width: "300px" %>
        <% end %>
    </div>
    <div class="w-100  d-flex justify-content-end align-items-center bg-primary-subtle">
      <%= link_to new_post_path, class: "btn btn-purple " , data: { turbolinks: false } do %>
        <i class="bi bi-calendar3"></i>
        しおりを作成
        <% end %>
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              <% if user_signed_in? %>
              <%= current_user.username %> さん
               <% else %>
               ログイン・会員登録はこちら
               <% end %>
            </button>
            <div class="dropdown-menu m-0 text-wrap">
              <% if user_signed_in? %>
              <%= button_to "アカウント編集", edit_user_registration_path, class: "dropdown-item text-secondary border-bottom py-2", data: { turbolinks: false } %>
              <%= button_to "ログアウト", destroy_user_session_path, class: "dropdown-item text-secondary py-2", method: :delete %>
               <% else %>
               <%= link_to "ログイン", new_user_session_path, class: "btn text-purple me-3", data: { turbolinks: false } %>
              <%= link_to "無料会員登録", new_user_registration_path, class: "btn btn-purple me-5 px-3 py-2", data: { turbolinks: false } %>
               <% end %>
          </div>
    </div>
  </div>
  </div>
</nav>
</header>