<div class="mb-5">
  <div class="card pt-3">
    <div class="d-flex justify-content-between align-items-center px-4">
      <div>
        <p class="d-inline-block mb-0 fs-5"><%= post.user.username %></p>
      </div>
      <!-- ドロップダウンメニュー -->
        <%= render "dropdown", post: post %>
    </div>
    <p class="text-muted mb-3 pt-3 px-4 fs-5"><%= post.title %></p>
    <p class="text-muted mb-3 pt-3 px-4 fs-5"><%= post.summary %></p>
    <p class="text-muted mb-3 pt-3 px-4 fs-5"><%= post.items %></p>
    <p class="text-muted mb-3 pt-3 px-4 fs-5"><%= post.budget %></p>
  </div>
  <!-- コメント -->
</div>