<div class="mb-5">
    <div class="px-4">
     <div class="card pt-3 mt-5 mx-auto" style="width:800px">
      <p  id="title" class="text-body mb-3 pt-3 px-4 fs-2"><%= @post.title %></p>
      <p class="text-dark mb-3 pt-3 px-4 fs-5"><%= @post.summary %></p>
      <p class="text-dark mb-3 pt-3 px-4 fs-5"><span class="content">持ち物</span><%= @post.items %></p>
      <p class="text--dark mb-3 pt-3 px-4 fs-5"><span class="content">予算</span><%= @post.budget %></p>
      <p class="text--dark mb-3 pt-3 px-4 fs-5"><span class="content">開始時間: </span><%= @post.start_time.strftime("%Y年%m月%d日%-H時%M分") %></p>
      <p class="text-dark mb-4 pt-3 px-4 fs-5"><span class="content">内容</span><%= @post.text %></p>
      <% if @post.end_time.present? %>
       <p class="text-dark mb-3 pt-3 px-4 fs-5"><span class="content">終了時間：</span><%= @post.end_time.strftime("%Y年%m月%d日%-H時%M分") %></p>
      <% end %>
    <%= render "carousel", post: @post %>
  </div>
  </div>
</div>